<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Evento</title>
  <link rel="stylesheet" href="../css/estilo.css"/>
</head>
<body>
				
 <div class="contenedor2">
 <header>


   <div id="subnavbar">

<ul id="subnav" class="right w30">

<li class="navbar"><a href="../index.html" title="Inicio"><img src="../images/inicio 1.png" /></a>
</li>
<li class="navbar"><a href="../views/nuevos.html"title="Acerca de Nosotros"><img src="../images/inico 2.png " /></a>
</li>
<li class="navbar"><a href="../views/nota.html" title="Evento"><img src="../images/incio 3.png" /></a>
</li>
</ul>
</div>
 </header> 

<div class="text1">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<font size="10" face="brixton" color=#fff>
		9 DIC. 2014
	</font>
	
	<font size="10" face="brixton"color=#fff>
		<br>HOLIDAY INN
		
		<br>6 PM

	</font>
	<font size="10" face="brixton" color=#fff>
	</font>

</div>
	
	
	



	
</div>

<footer>
	<div class="foot">
		<font size="2" face="brixton" color=#fff>
		Página desarrollada por Karen Alvarado | Todos los derechos reservados 
	</font>
	</div>
</footer>




 </div>



   
 

  
</body>
</html>
