<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acerca de nosotros</title>
  <link rel="stylesheet" href="../css/estilo.css"/>
</head>
<body>
 
 <div class="contenedor3">
 <header>


   <div id="subnavbar">

<ul id="subnav" class="right w30">

<li class="navbar"><a href="../index.html" title="Inicio"><img src="../images/inicio 1.png" /></a>
</li>
<li class="navbar"><a href="../views/nuevos.html"title="Acerca de Nosotros"><img src="../images/inico 2.png " /></a>
</li>
<li class="navbar"><a href="../views/nota.html" title="Evento"><img src="../images/incio 3.png" /></a>
</li>
</ul>
</div>
 </header> 





</div>

<footer>
	<div class="foot">
		<font size="2" face="brixton" color=#fff>
		Página desarrollada por Karen Alvarado | Todos los derechos reservados 
	</font>
	</div>
</footer>


   
 

  
</body>
</html>
